@using BlazorAuthYt.Data
@inject DataContext DataContext

@if (Designation != null)
{
    <div>
        <h4>Designation Information</h4>
        <p>ID: @Designation.ID</p>
        <p>Name: @Designation.DesignationName</p>
    </div>
}

@code {
    [Parameter]
    public Designation Designation { get; set; }
}
