<div class="top-row navbar navbar-dark">
    <div style="margin-left: 2%;" class="row">
            <div id="nav-logo" class="col-md-2 nav-logo" style="padding: 2px;">
                <a onclick="sidebar()"><img style="max-height: 40px; padding: 5px;" src="../RPULogo-g.png" alt="RPU Logo"></a>
            </div>
            <div id="nav-title" style="align-content:center;" class="col-md-10">
                <label id="nav-title" style="font-size:medium; color:white;"><b>Inventory Management</b></label>
            </div>
    </div>
</div>

<div class="nav-scrollable">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="MaintenanceTaskList">
                <span class="oi oi-task" aria-hidden="true"></span><label class="nav-list">Maintenance</label>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="PPMList">
                <span class="oi oi-document" aria-hidden="true"></span><label class="nav-list">PPM</label>
            </NavLink>
        </div>
        <AuthorizeView Roles="Admin, Terminal Manager, Maintenance Supervisor, Maintenance">
            <Authorized>
                <div class="nav-item px-3">
                    <a class="nav-link" data-toggle="collapse" data-target="#InventoryList" aria-expanded="false" aria-controls="collapseExample">
                        <span class="oi oi-wrench" aria-hidden="true"></span><label class="nav-list">Inventory</label>
                    </a>
                    <div class="collapse" id="InventoryList">
                        <div style="background-color: rgb(33 81 158);" class="card">
                            <div class="nav-item">
                                <NavLink class="nav-link" href="PumpList">
                                    <span class="oi oi-water-pump-rounded" aria-hidden="true"></span><label class="nav-list">Pump</label>
                                </NavLink>
                            </div>
                        </div>
                        <div style="background-color: rgb(33 81 158);" class="card">
                            <div class="nav-item">
                                <NavLink class="nav-link" href="Tank">
                                    <span class="mdi--storage-tank" aria-hidden="true"></span><label class="nav-list">Tank</label>
                                </NavLink>
                            </div>
                        </div>
                    </div>
                </div>
            </Authorized>
        </AuthorizeView>
        <div class="nav-item px-3">
            <a class="nav-link" data-toggle="collapse" data-target="#AdministratorConfig" aria-expanded="false" aria-controls="collapseExample">
                <span class="oi oi-cog" aria-hidden="true"></span><label class="nav-list">Administrator</label>
            </a>
            <div class="collapse" id="AdministratorConfig">
                <div style="background-color: rgb(33 81 158);" class="card">
                    <div class="nav-item">
                        <NavLink class="nav-link" href="EmployeeList">
                            <span class="oi oi-person" aria-hidden="true"></span><label class="nav-list">Employee</label>
                        </NavLink>
                    </div>
                    <div class="nav-item">
                        <NavLink class="nav-link" href="#">
                            <span class="oi oi-person" aria-hidden="true"></span><label class="nav-list">User</label>
                        </NavLink>
                    </div>
                </div>
            </div>
        </div>

    </nav>
</div>