@page "/UserDelete/{Id}"

@using MaintenanceWebApp.Data
@using MaintenanceWebApp.Services
@using Microsoft.EntityFrameworkCore
@inject NavigationManager NavigationManager

@* Services *@
@inject UploadFilesService UploadService
@inject CRUDService CRUDService
@inject NotificationService NotificationService

@* Roles Authorize *@
@attribute [Authorize(Roles = "Admin, Maintenance Supervisor")]

<div class="card">

    <div class="card-body">
        @if (_isLoading)
        {
            <div class="text-center py-3">
                <div class="spinner-border text-primary" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
                <p>Memuat Data User...</p>
            </div>
        }
        @* No Data *@
        else if (user == null)
        {
            <p><em>Memuat Data User...</em></p>
            <div class="spinner-border text-primary" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        }
        else
        {
            <h3>Hapus User</h3>

            <hr />

            <p>Anda yakin ingin menghapus User dengan Nama <b>@user.FullName</b> dan Email <b>@user.Email</b>  ?</p>
            <button type="button" class="btn btn-danger" @onclick="DeleteUserData">Delete</button>
            <button type="button" class="btn btn-secondary" @onclick="CancelDelete">Cancel</button>
        }
    </div>

</div>

@code {
    //Page
    [Parameter]
    public string Id { get; set; }
    private User user;
    private bool _isLoading = true;

    //Notification
    private string? alertMessage;
    private string? logMessage;

    //File
    private string subFolderName = "User";
    private string folderName = "Image";

    protected override async Task OnInitializedAsync()
    {
        _isLoading = true;
        await LoadUser();

        _isLoading = false;
        StateHasChanged();
    }

    //Read Data User
    private async Task LoadUser()
    {
        try
        {
            //Read User using Service
            user = await CRUDService.ReadSingleAsync<User, string>(Id);
        }
        catch (Exception ex)
        {
            alertMessage = "Gagal memuat data User. Hubungi administrator.";
            logMessage = $"Gagal memuat data User\nDetail :\n{ex}";

            ShowNotification(alertMessage, logMessage);
        }
    }

    //Delete Data User
    private async Task DeleteUserData()
    {
        //Profile Photo Delete using File Upload Service
        await UploadService.FileChange(user.UserPhoto, subFolderName);
        user.UserPhoto = UploadService.FilePath;

        if (!string.IsNullOrWhiteSpace(CRUDService.CRUDErrorMessage))
        {
            alertMessage = "Gagal menghapus gambar. Hubungi Administrator.";
            logMessage = $"Gagal menghapus gambar '_webStorageRoot'\nDetail :\n{CRUDService.CRUDErrorMessage}";

            ShowNotification(alertMessage, logMessage);
            return;
        }

        //Signature Delete using File Upload Service
        await UploadService.FileChange(user.Signature, subFolderName);
        user.Signature = UploadService.FilePath;

        //File Delete using CRUD Service
        await CRUDService.DeleteAsync(user);

        if (!string.IsNullOrWhiteSpace(CRUDService.CRUDErrorMessage))
        {
            alertMessage = "Gagal menghapus gambar. Hubungi Administrator.";
            logMessage = $"Gagal menghapus gambar '_webStorageRoot'\nDetail :\n{CRUDService.CRUDErrorMessage}";

            ShowNotification(alertMessage, logMessage);
            return;
        }

        NavigationManager.NavigateTo("/UserList?status=DeleteSuccess");
    }

    //Cancel Delete
    private void CancelDelete()
    {
        NavigationManager.NavigateTo("/UserList");
    }

    //Notification
    private async Task ShowNotification(string alertMessage, string logMessage)
    {
        await NotificationService.AlertMessage(alertMessage);
        NotificationService.LogMessage(logMessage);
    }
}
