@* Komponen ini tidak memerlukan service atau data, hanya event callback *@

<div class="modal fade" id="cancelModal" tabindex="-1" role="dialog" aria-labelledby="cancelModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="cancelModalLabel">Batalkan PPM</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Tutup"></button>
            </div>
            <div class="modal-body">
                <p>Anda yakin ingin membatalkan laporan PPM ini? Tindakan ini tidak dapat diurungkan.</p>
            </div>
            <div class="modal-footer mt-4">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Tidak</button>
                <button @onclick="OnConfirm" type="button" class="btn btn-danger" data-bs-dismiss="modal">
                    Ya, Batalkan
                </button>
            </div>
        </div>
    </div>
</div>

@code {
    // Mengirim event ke komponen induk saat tombol konfirmasi diklik
    [Parameter]
    public EventCallback OnConfirm { get; set; }
}