@page "/"
@inject AuthenticationStateProvider AuthenticationStateProvider
@using System.Security.Claims
@attribute [Microsoft.AspNetCore.Authorization.Authorize]

<PageTitle>Index</PageTitle>

@if (authenticationState != null && authenticationState.User.Identity.IsAuthenticated)
{
<h5>Hello, @authenticationState.User.Identity.Name !</h5>
<div class="row">
    <div class="card col-sm-6">
        <div class="card-body">
            <h5 class="card-title">PPM Performance</h5>
            <canvas id="chart-ppm-performance"></canvas>
        </div>
    </div>
    <div class="card col-sm-6">
        <div class="card-body">
            <h5 class="card-title">PPM Performance</h5>
        </div>
    </div>
</div>

}
else
{
<p>You are not logged in.</p>
}

@code {
    private AuthenticationState authenticationState;

    protected override async Task OnInitializedAsync()
    {
        authenticationState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
    }
}
