@page "/NewEmployee"

@using MaintenanceWebApp.Data
@inject DataContext DataContext
@inject Microsoft.AspNetCore.Components.NavigationManager NavigationManager

<EditForm Model="NewEmployee" OnValidSubmit="CreateEmployee">
    <DataAnnotationsValidator />
    <div class="form-group">
        <label for="Name">Name:</label>
        <InputText id="Name" @bind-Value="NewEmployee.Name" class="form-control" />
        <ValidationMessage For="@(() => NewEmployee.Name)" />
    </div>
    <div class="form-group">
        <label for="Email">Email:</label>
        <InputText id="Email" @bind-Value="NewEmployee.Email" class="form-control" />
        <ValidationMessage For="@(() => NewEmployee.Email)" />
    </div>
    <div class="form-group">
        <label for="JobTitle">Role:</label>
        <InputText id="JobTitle" @bind-Value="NewEmployee.JobTitle" class="form-control" />
        <ValidationMessage For="@(() => NewEmployee.JobTitle)" />
    </div><br />

    <button type="submit" class="btn btn-primary">Create Employee</button>
</EditForm>

@code {
    private Employee NewEmployee { get; set; } = new Employee();

    private async Task CreateEmployee()
    {
        DataContext.Employees.Add(NewEmployee);
        await DataContext.SaveChangesAsync();
        NewEmployee = new Employee(); 

        // Navigate to the EmployeeList page
        NavigationManager.NavigateTo("/EmployeeList");
    }
}

