@page "/EmployeeInfo/{Id}"

@using MaintenanceWebApp.Data
@using Microsoft.EntityFrameworkCore
@inject DataContext DataContext
@inject Microsoft.AspNetCore.Components.NavigationManager NavigationManager
@inject IConfiguration Configuration

<div class="card">

	@if (employee != null)
	{
		<div class="card-header bg-light border-primary">
			Employee Information
		</div>
		<div class="card-body">
			<div class="form-group row">
				<div class="col-sm-5">

					@if (string.IsNullOrWhiteSpace(employee.UserPhoto) == false)
					{
						<img style="align-content:center;" width="100%" src="@CreateWebPath(employee.UserPhoto)" alt="Employee Photo">
					}
					else
					{
						<div class="icon">
							<span class="oi oi-image"></span><br>
							No Image Available
						</div>
					}
				</div>
				<div class="col-sm-7">
					<h5 class="display-6">@employee.FullName</h5><hr />
					<table width="100%">
						<tr>
							<td class="td-first">User Name</td>
							<td> : </td>
							<td class="td-last">@employee.UserName</td>
						</tr>
						<tr>
							<td class="td-first">Email Address</td>
							<td> : </td>
							<td class="td-last">@employee.Email</td>
						</tr>
					</table>
				</div>
			</div>
			<button type="button" class="btn btn-danger" onclick="history.back();">Back</button>
			<button type="submit" class="btn btn-warning">Edit Employee</button>
		</div>
	}
	else
	{
		<p>Loading Employee Information...</p>
	}
</div>

@code {
	private Employee employee;
	[Parameter]
	public string Id { get; set; }

	private async Task LoadData()
	{
		//Tanks = await DataContext.Tanks.ToListAsync();
		//tank = await DataContext.Tanks.FindAsync(pump.TankId);
	}

	 private string CreateWebPath(string relativePath)
	 {
	 	return Path.Combine(Configuration.GetValue<string>("WebStorageRoot")!, relativePath);
	 }

	protected override async Task OnInitializedAsync()
	{

		employee = await DataContext.Employees.FindAsync(Id);
		await LoadData();

		if (employee == null)
		{
			NavigationManager.NavigateTo("/EmployeeList", forceLoad: true);
		}
	}

	// Go back in browser using Javascript on a Razor Page
	private async Task GoBack()
	{
		NavigationManager.NavigateTo($"/EmployeeList");
	}
}
