@using MaintenanceWebApp.Data
@inject DataContext DataContext

@if (Employee != null)
{
    <div>
        <h4>Your Information</h4>
        <p>ID: @Employee.UserID</p>
        <p>Name: @Employee.Name</p>
        <p>Email: @Employee.Email</p>
    </div>
}

@code {
    [Parameter]
    public Employee Employee { get; set; }
}
