@page "/EmployeeList"

@using MaintenanceWebApp.Data
@using Microsoft.EntityFrameworkCore
@inject DataContext DataContext
@inject NavigationManager NavigationManager

<div class="row">
    <div class="col-6">
        <h3>Employee List</h3>
    </div>
    <div class="col-6">
        <button class="btn btn-outline-primary btn-xs float-end" @onclick="() => AddEmployee()">New Employee</button>
    </div>
</div><br>

@if (Employees.Count != 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Role</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var employee in Employees)
            {
                <tr>
                    <td><a href="" @onclick="() =>EmployeeInfo(employee)">@employee.UserID</a></td>
                    <td>@employee.Name</td>
                    <td>@employee.JobTitle</td>
                    <td>
                        <button class="btn btn-warning" @onclick="() => EditEmployee(employee)">Edit</button>
                        <button class="btn btn-danger" @onclick="() => SoftDeleteEmployee(employee)">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

else
{
    <p>No employees found.</p>
}

@code {
    private List<Employee> Employees { get; set; } = new List<Employee>();

    protected override async Task OnInitializedAsync()
    {
        await LoadData();
    }

    private async Task LoadData()
    {
        Employees = await DataContext.Employees.ToListAsync();
    }

    private void EmployeeInfo(Employee employee)
    {
        NavigationManager.NavigateTo($"/EmployeeInfo/{employee.UserID}");
    }

    private void AddEmployee()
    {
        NavigationManager.NavigateTo($"/NewEmployee/");
    }

    private void EditEmployee(Employee employee)
    {
        NavigationManager.NavigateTo($"/EditEmployee/{employee.UserID}");
    }


    private void SoftDeleteEmployee(Employee employee)
    {
        NavigationManager.NavigateTo($"/DeleteEmployee/{employee.UserID}");
    }
}
