
@using MaintenanceWebApp.Data
@inject DataContext DataContext


<div>
    <h4>Employee Information</h4><hr>
    <p>ID: @employee.UserID</p>
    <p>Name: @employee.Name</p>
    <p>Email: @employee.Email</p>
    <p>Role: @employee.JobTitle</p>
</div>

@code {
    private Employee employee;
    [Parameter]
    public string employeeId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        //employee = await DataContext.Employees.FindAsync(int.Parse(employeeId));
        employee = await DataContext.Employees.FindAsync(employeeId);
    }
}
