@page "/TankAdd"

@using MaintenanceWebApp.Data
@using Microsoft.EntityFrameworkCore
@* mailer *@
@using MaintenanceWebApp.Services
@using MailKit.Net.Smtp
@using MailKit.Security
@using MimeKit
@inject IConfiguration Configuration
@* end mailer *@
@inject DataContext DataContext
@inject Microsoft.AspNetCore.Components.NavigationManager NavigationManager

<EditForm Model="NewTank" OnValidSubmit="CreateTank">
    <DataAnnotationsValidator />
    <div class="card">
        <div class="card-header border-primary">
            Tank Information
        </div>
        <div class="card-body">
            <div class="form-group row">
                <div class="col-sm-12">
                    <label for="Name" class="col-sm-2 col-form-label">Tank No <span class="required">*</span></label>
                    <InputText id="Name" @bind-Value="NewTank.TankNo" class="form-control col-sm-10" />
                </div>
                <div class="col-sm-12">
                    <label for="Capacity" class="col-sm-2 col-form-label">Capacity (MT) <span class="required">*</span></label>
                    <InputNumber id="Capacity" @bind-Value="NewTank.Capacity" class="form-control col-sm-10" />
                </div>
                <div class="col-sm-12">
                    <label for="InternalCoating" class="col-sm-2 col-form-label">Internal Coating <span class="required">*</span></label>
                    <InputText id="InternalCoating" @bind-Value="NewTank.InternalCoating" class="form-control col-sm-10" />
                </div>
            </div><br />
            <button type="submit" class="btn btn-primary">Add New Tank</button>
        </div>
    </div>
</EditForm>

@code{
    private Tank NewTank { get; set; } = new Tank();
    private IMailerService _mailer;


    public TankAdd(IMailerService mailer)
    {
        _mailer = mailer;
    }

    protected override async Task OnInitializedAsync()
    {
        await _mailer.SendEmailAsync("dani.ridwan@redeco-rpu.com", "subject", "the body");
    }

    private async Task CreateTank()
    {
        DataContext.Tanks.Add(NewTank);
        await DataContext.SaveChangesAsync();
        NewTank = new Tank();

        // Navigate to the Pump List page
        NavigationManager.NavigateTo("/Tank");
    }

}