@page "/DeletePPMTask/{PPMId}"

@using MaintenanceWebApp.Data
@inject DataContext DataContext
@inject NavigationManager NavigationManager

<div class="card">

<h3>Delete PPM</h3>

<p>Anda yakin ingin menghapus PPM dengan ID: @PPMId?</p>

<button type="button" class="btn btn-danger" @onclick="PPMDelete">Delete</button>
<button type="button" class="btn btn-secondary" @onclick="CancelDelete">Cancel</button>

</div>

@code {
    [Parameter]
    public string PPMId { get; set; }

    private async Task PPMDelete()
    {
        var ppmToDelete = await DataContext.PPMTasks.FindAsync(PPMId);
        if (ppmToDelete != null)
        {
            DataContext.PPMTasks.Remove(ppmToDelete);
            await DataContext.SaveChangesAsync();
            NavigationManager.NavigateTo("/PPMList");
        }
    }

    private void CancelDelete()
    {
        NavigationManager.NavigateTo("/PPMList");
    }
}
