@page "/PPMCancel/{TaskID}"

@using MaintenanceWebApp.Data
@using MaintenanceWebApp.Services
@using Microsoft.EntityFrameworkCore
@inject NavigationManager NavigationManager

@* Services *@
@inject UploadFilesService UploadService
@inject CRUDService CRUDService
@inject NotificationService NotificationService

@* Roles Authorize *@
@attribute [Authorize(Roles = "Supervisor")]

<div class="card">

    <div class="card-body">
        @if (ppmTask == null)
        {
            <p><em>Memuat Data PPM...</em></p>
            <div class="spinner-border text-primary" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        }
        else
        {
            <h3>Cancel PPM</h3>

            <hr />

            <p>Anda yakin ingin membatalkan PPM dengan ID: <b>@ppmTask.PPMID</b> ?</p>
            <button type="button" class="btn btn-danger" @onclick="DeletePPM">Delete</button>
            <button type="button" class="btn btn-secondary" @onclick="CancelDelete">Cancel</button>
        }
    </div>

</div>

@code {
    //Page
    [Parameter]
    public string TaskID { get; set; }
    private PPMTask ppmTask;

    //Notification
    private string? alertMessage;
    private string? logMessage;

    //File
    private string subFolderName = "PPM";

    protected override async Task OnInitializedAsync()
    {
        await LoadPPM();
    }

    //Read Data PPM
    private async Task LoadPPM()
    {
        try
        {
            //Read PPM using Service
            ppmTask = await CRUDService.ReadSingleAsync<PPMTask, string>(TaskID);
        }
        catch (Exception ex)
        {
            alertMessage = "Gagal memuat data PPM. Hubungi administrator.";
            logMessage = $"Gagal memuat data PPM\nDetail :\n{ex}";

            ShowNotification(alertMessage, logMessage);
        }
    }

    //Delete Data PPM
    private async Task DeletePPM()
    {
        //File Delete using CRUD Service
        await CRUDService.DeleteAsync(ppmTask);

        //Image Delete using File Upload Service
        await UploadService.FileChange(ppmTask.ImageBefore, subFolderName);
        ppmTask.ImageBefore = UploadService.FilePath;

        if (!string.IsNullOrWhiteSpace(CRUDService.CRUDErrorMessage))
        {
            alertMessage = "Gagal menghapus gambar. Hubungi Administrator.";
            logMessage = $"Gagal menghapus gambar '_webStorageRoot'\nDetail :\n{CRUDService.CRUDErrorMessage}";

            ShowNotification(alertMessage, logMessage);
            return;
        }

        //Document Delete using File Upload Service
        await UploadService.FileChange(ppmTask.Document, subFolderName);
        ppmTask.Document = UploadService.FilePath;

        if (!string.IsNullOrWhiteSpace(CRUDService.CRUDErrorMessage))
        {
            alertMessage = "Gagal menghapus dokumen. Hubungi Administrator.";
            logMessage = $"Gagal menghapus dokumen '_webStorageRoot'\nDetail :\n{CRUDService.CRUDErrorMessage}";

            ShowNotification(alertMessage, logMessage);
            return;
        }

        NavigationManager.NavigateTo("/PPMList?status=DeleteSuccess");
    }

    //Cancel Delete
    private void CancelDelete()
    {
        NavigationManager.NavigateTo("/PPMList");
    }

    //Notification
    private async Task ShowNotification(string alertMessage, string logMessage)
    {
        await NotificationService.AlertMessage(alertMessage);
        NotificationService.LogMessage(logMessage);
    }
}
