@page "/ElectricPanelDelete/{PanelID:int}"

@using MaintenanceWebApp.Data
@using MaintenanceWebApp.Services
@using Microsoft.EntityFrameworkCore
@inject NavigationManager NavigationManager

@* Services *@
@inject UploadFilesService UploadService
@inject CRUDService CRUDService
@inject NotificationService NotificationService

@* Roles Authorize *@
@attribute [Authorize(Roles = "Admin, Maintenance Supervisor")]

<div class="card">

    <div class="card-body">
        @if (electricPanel == null)
        {
            <p><em>Memuat Data Panel Listrik...</em></p>
            <div class="spinner-border text-primary" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        }
        else
        {
            <h3>Hapus Panel Listrik</h3>

            <hr />

            <p>Anda yakin ingin menghapus Panel Listrik : <b>@electricPanel.Name</b> ?</p>
            <button type="button" class="btn btn-danger" @onclick="DeleteElectricPanel">Delete</button>
            <button type="button" class="btn btn-secondary" @onclick="CancelDelete">Cancel</button>
        }
    </div>

</div>

@code {
    //Page
    [Parameter]
    public int PanelID { get; set; }
    private ElectricPanel electricPanel;

    //Notification
    private string? alertMessage;
    private string? logMessage;

    //File
    private string subFolderName = "Inventories";
    private string folderName = "Pump";

    protected override async Task OnInitializedAsync()
    {
        await LoadPump();
    }

    //Read Data Electric Panel
    private async Task LoadPump()
    {
        try
        {
            //Read Electric Panel using Service
            electricPanel = await CRUDService.ReadSingleAsync<ElectricPanel, int>(PanelID);
        }
        catch (Exception ex)
        {
            alertMessage = "Gagal memuat data panel listrik. Hubungi administrator.";
            logMessage = $"Gagal memuat data panel listrik\nDetail :\n{ex}";

            ShowNotification(alertMessage, logMessage);
        }
    }

    //Delete Data Pump
    private async Task DeleteElectricPanel()
    {
        //File Delete using CRUD Service
        await CRUDService.DeleteAsync(electricPanel);

        //File Delete using File Upload Service
        await UploadService.FileChange(electricPanel.Image, subFolderName);
        electricPanel.Image = UploadService.FilePath;

        if (!string.IsNullOrWhiteSpace(CRUDService.CRUDErrorMessage))
        {
            alertMessage = "Gagal menghapus gambar. Hubungi Administrator.";
            logMessage = $"Gagal menghapus gambar '_webStorageRoot'\nDetail :\n{CRUDService.CRUDErrorMessage}";

            ShowNotification(alertMessage, logMessage);
            return;
        }

        NavigationManager.NavigateTo("/ElectricPanelList?status=DeleteSuccess");
    }

    //Cancel Delete
    private void CancelDelete()
    {
        NavigationManager.NavigateTo("/ElectricPanelList");
    }

    //Notification
    private async Task ShowNotification(string alertMessage, string logMessage)
    {
        await NotificationService.AlertMessage(alertMessage);
        NotificationService.LogMessage(logMessage);
    }
}
